---
layout: page
title: Members
order: 2
permalink: /members/
---
<style>
    /* TODO: Add styling to list with li */
    img {
	width: 150px;
	height: auto;
    }
	th {
	  width: 80%;
	}
    span.weak {
    font-weight: lighter;
}
</style>

<div class="entry-content">

  <h1>PhD students</h1>

    <table>
        {% for item in site.data.members.PhD students %}
         <tr>
             <th>
                 <strong>{{ CAO }} {{ Yewen }}  </strong> </br>              
                 {%if item.interests %}
                  Interests: {{ wireless communications, signal processing, IoT }}
                 {% endif %}
                 </br></br>                                   
             </th>
              <th>
                  {%if item.picture %}
                    <img src={{ item.picture }}>
                  {% endif %}
              </th>
         </tr>
       {% endfor %}

    </table>  
    
</div>




